/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 li#toplevel_page_wpfkr-dashboard a div img {
    width: 25px;
}
.deleteSpan{
  float: right;
}
table#wpfkrListPostsTbl thead tr th {
    text-align: left;
}
/*button styles*/
.wpfkr-btn {
    color: #fff;
    font-size: 16px;
    border: 0px;
    padding: 15px;
    border-radius: 5px;
}
.wpfkr-btnBlueGreen {
  background: #00AE68;
}

.wpfkr-btnLightBlue {
  background: #5DC8CD;
}

.wpfkr-btnOrange {
  background: #FFAA40;
}
a.wpfkr-btn.wpfkr-btnRed {
  padding: 10px;
    background-color: #d9534f;
    border-color: #d43f3a;
    text-decoration: none;
}
a.wpfkr-btn.wpfkr-btnRed:hover {
    color: #fff;
}

.wpfkr-btnPurple {
  background: #A74982;
}

/* FADE */
.btnFade.wpfkr-btnBlueGreen:hover {
  background: #21825B;
}

.btnFade.wpfkr-btnLightBlue:hover {
  background: #01939A;
}

.btnFade.wpfkr-btnOrange:hover {
  background: #FF8E00;
}

.btnFade.wpfkr-btnPurple:hover {
  background: #6D184B;
}
/*end of button styles*/

/*message styles*/
.wpfkr-success-msg,
.wpfkr-error-msg,
.wpfkr-warning-msg,
.wpfkr-info-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.wpfkr-info-msg {
  color: #059;
  background-color: #BEF;
}
.wpfkr-success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.wpfkr-warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.wpfkr-error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}
/*message styles*/
.wpfkr-wrapper { padding-right: 15px; }
.about-text.wpfkr-about-text {
    width: 100%;
}
/*dashboard css*/
.wpfkr-about-wrap h1 {
    padding: 0;
    color: #32373c;
    line-height: 1.2em;
    font-size: 2.8em;
    font-weight: 400;
}

.wrap.wpfkr-about-wrap {
    min-height: 60px;
    color: #555d66;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 19px;
}
.col.wpfkr-col h2 {
    font-size: 20pt;
    font-weight: 500;
    text-align: left;
    margin: 0;
}

.wpfkr-about-integrations {
    background: #fff;
    padding: 0px 15px;
}
/*dashboard css*/